<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761356519653-0e6gra7tc5qvdssgnfjkv6stp5d7rp8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761356519653-0e6gra7tc5qvdssgnfjkv6stp5d7rp8u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>761356519653-l9m31bfiaj78fj8a1s7t3ko1gbr48qmf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZJ6uel1CjoDtO1GyFrX5FyI1GWtMEpos</string>
	<key>GCM_SENDER_ID</key>
	<string>761356519653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.ivan.morozyk.nestify.dev</string>
	<key>PROJECT_ID</key>
	<string>nestify-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nestify-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761356519653:ios:f4af801a3d933dc1a12c0c</string>
</dict>
</plist>